* {
  box-sizing: border-box;
}

body {
  background-color: rgb(233, 231, 231);
}

.clearfix {
  display: table;
  content: "";
  clear: both;
}

.page-header {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  background-color: #cacaca;
  padding: 10px 20px;
  z-index: 9999;
}
.page-header__logo {
  flex: 0 1 200px;
}
.page-main__title {
  padding-top: 100px;
  text-align: center;
  border-bottom: 1px solid darkgray;
  margin: 0 auto;
  height: 160px;
}
.page-main__title-link:link, .page-main__title-link:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.page-main__title-link:hover, .page-main__title-link:focus {
  color: #9c9c9c;
}
.page-main__title-logo {
  width: 20px;
}
.page-footer {
  clear: both;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  text-align: center;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  width: 100%;
  height: 100px;
  background-color: #cacaca;
  z-index: 10009;
}
.page-footer p {
  margin: 0 auto;
}
.page-footer__social-media {
  margin: 0 10px 10px 10px;
}
.page-footer__copyrights {
  text-align: center;
}
.page-footer__copyrights-link {
  text-align: center;
  margin: 2px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.page-footer__copyrights-link:link {
  color: rgb(0, 0, 0);
}
.page-footer__copyrights-link:hover, .page-footer__copyrights-link:focus {
  color: #9c9c9c;
}
.page-footer__copyrights-link:visited {
  color: rgb(0, 0, 0);
}

.pokemon-list {
  background-color: #e2dfdf;
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
.pokemon-list-item {
  background-color: #dad7d7;
  list-style-type: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 2px;
  margin: 10px auto;
  max-width: 90%;
  width: 400px;
  transition: all 0.2s ease-in-out;
}
.pokemon-list-item__btn {
  display: inline-block;
  width: 100%;
  padding: 16px 32px;
  border: none;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}
.pokemon-list-item__transform-1:hover {
  transform: translateX(10px) scaleX(1.05);
}
.pokemon-list-item__transform-2:hover {
  transform: translateX(-10px) scaleX(1.05);
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.8901960784);
  z-index: 10019;
  padding: 5vw;
  overflow: auto;
  transition: all 1s ease-in-out;
}
.modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1vw;
  max-width: 600px;
  width: 80%;
  text-align: center;
  background-color: lightgray;
  border-radius: 1rem;
}
.modal__closeBtn {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.modal__closeBtn * {
  margin: 0;
  padding: 0;
}
.modal__closeBtn:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.modal__icon {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}
.modal__icon:hover {
  transform: scale(1.1);
}
@media all and (max-width: 400px) {
  .modal__icon {
    width: 100px;
    height: 100px;
  }
}
.modal__title {
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
@media all and (max-width: 400px) {
  .modal__title {
    font-size: 2rem;
  }
}
.modal__text {
  font-weight: bold;
  font-size: 2rem;
}
@media all and (max-width: 400px) {
  .modal__text {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style(legacy).css.map */